<div class="container">
  <h1 id="header">Stopwatch</h1>

  <div id="watchArea">
    <h1 id="timer" class="display-3">
      00 : 00. 000
    </h1>
    <div>
      <button class="btn btn-dark" id="toggle">
        START
      </button>
      <button class="btn btn-dark" id="lap">
        LAP
      </button>
      <button class="btn btn-dark" id="reset">
        RESET
      </button>
    </div>
  </div>
  <div id="lapReport"></div>
</div>
