// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding-top: 2em;
  padding-left: 1em;
  height: 100%;
  text-align: center;
  background-color: yellow;
}

.logo {
  width: 50px;
  height: auto;
  box-shadow: 3px 3px 5px white;
  &:hover {
    cursor: pointer;
    transform: rotate(20deg);
  }
}

#profile {
  text-align: left;

  #profileBox {
    display: none;
    width: 300px;
    height: 300px;
    border: none;
    font-size: 1.2em;
    padding: 10px 10px;
    background-color: rgba(255, 20, 147, 1);
    color: white;
    position: absolute;
    z-index: 999;
    overflow: auto;
    .btn-profile {
      margin-top: 5px;
      letter-spacing: 2px;
    }
  }
}

#header {
  letter-spacing: 3px;
  line-height: 200px;
}

#controls {
  margin-top: 1em;
  button {
    letter-spacing: 1px;
  }
  #reset, #lap {
    display: none;
  }

}

#timer {
  font-family: Arial;
  letter-spacing: 3px;
}
