// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.container-fluid {
  padding-top: 2em;
  padding-left: 1em;
  height: 100%;
  text-align: center;
  background-color: yellow;
}

.row:first-of-type { height: 10%; }
.row { height: 90%; }

.logo {
  margin-left: 10px;
  height: 30px;
  width: auto;
  &:hover {
    cursor: pointer;
    height: 40px;
  }
}

  #profileBox {
    display: none;
    font-size: 1.2em;
    color: #00008B;
    a {
      margin-left: 5px;
      color: #4169E1;
      &:hover {
        color: white;
      }
    }
  }

#reportArea {
  padding-top: 10px;
  overflow: scroll;
  height: 90%;
}

.list-group-item {
  margin: 0 !important;
  text-align: left;
  width: 250px;
  padding: 2px 5px !important;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #FFD700 !important;
  &:hover {
    background-color: #FFA500 !important;
  }
}



#stopWatchIcon {
  line-height: 150px;
}

#controls {
  margin-top: 1em;
  button {
    padding: 10px 20px;
    letter-spacing: 1px;
    background-color: #ED4C67;
    border: none;
    &:hover { box-shadow: 2px 2px 5px gray !important; }
  }
  #reset, #lap {
    display: none;
  }
}

#timer {
  font-family: Arial;
  letter-spacing: 5px;
}
